In [5]:
import pandas as pd
import numpy as np

#Series Creation

In [8]:
s=pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
# we can create diffrent dataypes then datatyps is object
s1=pd.Series([1,2,3,4,"Apple"])
print(s1)

0        1
1        2
2        3
3        4
4    Apple
dtype: object

In [12]:
#Descriptive statistics
s= pd.Series([1,2,3,4,5])
print(s.describe())

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

#Mean, Median and Standdeviation of a series

In [22]:
print(s.mean())
print(s.median())
print(s.std())

3.0
3.0
1.5811388300841898

Min value, Max Value

In [20]:
print(s.min())
print(s.max())

1
5

Manipulation

In [27]:
doubled=s.map(lambda x:x*2)
print(doubled)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [29]:
sqrt=s.apply(lambda x: x**0.5)
print(sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
dtype: float64

In [33]:
#sort series
s=pd.Series([1,2,44,17,24,86])
sorted_s=s.sort_values()
print(sorted_s)

0     1
1     2
3    17
4    24
2    44
5    86
dtype: int64

#Drop

In [46]:
dropped = s.drop(0) # 0 means droping first row/. becuase it only contains single column
print(dropped)

1     2
2    44
3    17
4    24
5    86
dtype: int64

In [ ]:
Handling missing